.customers {
  height: 80vh;
  padding: 15px;
}
table {
  text-align: left;
  overflow: auto;
  width: 100%;
  display: table;
  width: 100%;
}
table th {
  background-color: white;
  font-weight: bold;
  font-size: 22px;
  text-align: left;
  color: #185875;
  padding: 8px;
}
table td {
  text-align: center;
  font-weight: normal;
  font-size: 25px;
  padding: 10px;
  box-shadow: 0 2px 2px -2px #0e1119;
}
table tbody tr {
  height: 70px;
}
table tr:nth-child(odd) {
  background-color: #323c50;
}
table tr:nth-child(even) {
  background-color: #2c3446;
}
td {
  color: white;
}
tr:nth-child(odd):hover td {
  background: #6b73cc;
}
tr:nth-child(even):hover td {
  background: #6b73cc;
}
