.customers {
  height: 80vh;
  padding: 15px;
}
.customers h1 {
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}
.customers table {
  width: 100%;
  table-layout: fixed;
}
.tableTools {
  margin-bottom: 10px;
}
.tableTools {
  display: flex;
}
.tbl-header {
  background-color: rgba(255, 255, 255, 0.3);
}
.tbl-content {
  height: 300px;
  overflow-x: auto;
  margin-top: 0px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.customers th {
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 17px;
  color: #fff;
  text-transform: uppercase;
  border-left: solid 1px rgba(255, 255, 255, 0.1);
}
.customers td {
  padding: 15px;
  text-align: left;
  vertical-align: middle;
  font-weight: 300;
  font-size: 15px;
  color: #fff;
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
  border-left: solid 1px rgba(255, 255, 255, 0.1);
}

.customers .Table .btns {
  display: flex;
  justify-content: space-around;
  padding: 0 13px;
}

/* demo styles */
section {
  margin: 50px;
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
