.header {
  background: #142c4e;
  display: flex;
  justify-content: space-between;
  padding: 15px 5px;
}
.header .control {
  display: flex;
  justify-content: space-between;
  margin-right: 30px;
}
.header .control p {
  margin-right: 23px;
  color: white;
  font-size: 17px;
  margin-top: 10px;
}
.nav {
  margin: 0;
  padding-left: 30px;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent;
  display: block;
}
nav ul {
  list-style: none;
}
nav ul label {
  display: block;
  padding: 10px 20px;
  line-height: 1.2em;
  color: #fff;
  border-left: 1px solid #595959;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
.nav2 ul > li:hover ul {
  visibility: visible;
  opacity: 1;
  filter: alpha(opacity=100);
}
.nav2 li ul {
  position: absolute;
  left: 0;
  top: 36px;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: 200ms ease;
  -moz-transition: 200ms ease;
  -o-transition: 200ms ease;
  transition: 200ms ease;
}
.nav ul {
  *zoom: 1;
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav ul:before,
.nav ul:after {
  content: "";
  display: table;
}
.nav ul:after {
  clear: both;
}
.nav ul > li {
  float: left;
  position: relative;
}
.nav a {
  display: block;
  padding: 10px 20px;
  line-height: 1.2em;
  color: #fff;
  border-left: 1px solid #595959;
}
.nav a:hover {
  text-decoration: none;
  background: #595959;
}
.nav label:hover {
  text-decoration: none;
  background: #595959;
  cursor: pointer;
}
.nav li ul {
  background: #273754;
}
.nav li ul li {
  width: 200px;
}
.nav li ul a {
  border: none;
}
.nav li ul a:hover {
  background: rgba(0, 0, 0, 0.19999999999999996);
}
a {
  -webkit-transition: 200ms;
  -moz-transition: 200ms;
  -o-transition: 200ms;
  transition: 200ms;
}

a {
  color: #333333;
}
a:link {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
